<sectio class="hero">
    <div class="container hero-body">
        <div class="columns">
            <div class="column">
                <h2 class="title is-1"></h2>
            </div>
        </div>
        <div class="columns is-vcentered is-centered">
            <div class="column is-6">
                {{ partial "productos/500.html" . }}
            </div>
            <div class="column is-6">
                {{ partial "productos/1000.html" . }}
            </div>
        </div>
    </div>
</sectio>
