<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body container columns is-vcentered">
        <div class="column is-6 is-vcentered is-centered">
            <figure>
                <picture>
                    <source src="https://storage.googleapis.com/negro.coffee/b1000-NegroNegroBotella-frente-1000x1000-opt%20(1).webp" type="video/">
                    <img src="https://storage.googleapis.com/negro.coffee/b1000-NegroNegroBotella-frente-1000x1000-opt%20(1).webp" alt="">
                </picture>
            </figure>
        </div>
        <div class="column is-6">
            <div class="is-info">
                <h3 class="txt-color-blanco borde-arriba-azul-claro-4 roboto-cond tamano-normal txt-400 margen-abajo-1">MUCHAS POSIBILIDADES</h3>
                <h2 class="is-title">NEGRO NEGRO</h2>
                <p>Nuestro concentrado te permite preparar café de muchas formas en casa.</p>
                <br>
                <h4>Receta:</h4>
                <br>
                <ul>
                    <li>Llena el vaso con hielo.</li>
                    <li>Agrega agua hasta la mitad del vaso.</li>
                    <li>Llena el vaso con nuestro Cold Brew.</li>
                </ul>
            </div>
            <a href="./recetas" class="button is-medium is-warning has-text-centered">Ver más recetas</a>
        </div>
    </div>
</section>
