<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Negro - Compañía de Café",
  "legalName" : "Negro SAS",
  "url": "http://www.negro.coffee",
  "logo": "https://storage.googleapis.com/negro.coffee/img/png/logo-NEGROCC-opt.png",
  "foundingDate": "2015",
  "address":
    {
      "@type": "PostalAddress",
      "streetAddress": "Carrera 7 #156 - 78 Oficina 1005",
      "addressLocality": "Bogotá",
      "addressRegion": "Bogotá",
      "postalCode": "110131",
      "addressCountry": "Colombia"
      },
  "contactPoint":
    {
      "@type": "ContactPoint",
      "contactType": "customer support",
      "telephone": "[+57-319-654-0318]",
      "email": "contacto@negro.coffee"
    },
  "sameAs":
    [
      "http://www.facebook.com/negroelcafe",
      "http://www.twitter.com/negroelcafe",
      "http://www.instagram.com/negro.coffee"
    ]}
</script>
