<section id="aviso-negro-y-puro" class="section is-large">
    <div class="container is-fluid">
        <div class="columns is-centered">
            <div class="column is-8">
                {{ partial "assets/img/svg/logo-blanco-sencillo.html" . }}
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-11">
                <h2 class="playfair tamano-gigante txt-900 txt-color-blanco txt-centrado sin-margen">Negro & Puro</h2>
                <h3 class="archivo-narrow tamano-pequeno txt-700 txt-centrado txt-color-blanco txt-centrado margen-arriba-05">Concentrado de Cold Brew sin azúcar ni conservantes.</h3>
            </div>
        </div>
    </div>
</section>
