<section id="fuerte-y-osado" class="hero is-link py-6">
    <div class="container hero-body">
        <div class="columns">
            <div class="column is-6 mb-4">
                {{ partial "assets/img/svg/logo-blanco-sencillo.html" . }}
            </div>
            <div class="column is-6">
                <h2 class="title is-size-2 has-text-centered is-spaced is-capitalized has-text-weight-bold">Fuerte, osado & DESAFIANTE</h2>
                <p class="has-text-centered">Durante <strong>20 horas</strong> extraemos lo mejor del <strong>café especial colombiano</strong>.</p>
            </div>
        </div>
    </div>
</section>
