<!-- NAV ENLACES BLOG -->
<div class="nav-blog ttu f4-l fw6 f5-m">
    <ul class="ma0 pa0">
        <li class="bt bw3 mb1 pt1 dim">
            <a class="acumin-pro black tl" href="https://negro.coffee/blog/">blog</a>
        </li>
        <li class="bt bw3 mb1 pt1 dim">
            <a class="acumin-pro black tl" href="https://negro.coffee/blog/aprendizaje">aprendizaje</a>
        </li>
        <li class="bt bw3 mb1 pt1 dim">
            <a class="acumin-pro black tl" href="https://negro.coffee/blog/vocabulario">vocabulario</a>
        </li>
        <li class="bt bw3 mb1 pt1 dim">
            <a class="acumin-pro black tl" href="https://negro.coffee/blog/recetas">recetas</a>
        </li>
    </ul>
</div>
