<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
<link rel="canonical" href="{{ .Site.URL }}">
<meta name="robots" content="index, follow"/>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- COLOR TEMA -->
<meta name="theme-color" content="{{ .Site.Params.sitecolor }}">
<link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/negro.coffee/img/png/negro-coffee/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/negro.coffee/img/png/negro-coffee/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/negro.coffee/img/png/negro-coffee/favicon-16x16.png">
<link rel="manifest" href="https://storage.googleapis.com/negro.coffee/img/png/negro-coffee/site.webmanifest">
<link rel="manifest" href="./manifest.json">
