<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//storage.googleapis.com">
<link rel="dns-prefetch" href="//www.googletagmanager.com">
<link rel="dns-prefetch" href="//console.cloud.google.com">
<link rel="dns-prefetch" href="//use.typekit.net/">
<link rel="preconnect" href="//fonts.googleapis.com">
<link rel="preconnect" href="//storage.googleapis.com">
<link rel="preconnect" href="//www.googletagmanager.com">
<link rel="preconnect" href="//console.cloud.google.com">
<link rel="preconnect" href="//use.typekit.net/">
